<!-- map.html -->
<!DOCTYPE html>
<html>
<head>
    <title>F.R.I.E.N.D.S</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
</head>
<body>
    <div id="map" style="height: 1000px;"></div>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>
    <script>
        // var map = L.map('map').setView([17.6805, 74.0183], 14);   // Satara
        var map = L.map('map').setView([20.5937, 78.9629], 5);   // India
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var customIcon = L.icon({
            iconUrl: 'https://png.pngtree.com/png-vector/20230413/ourmid/pngtree-3d-location-icon-clipart-in-transparent-background-vector-png-image_6704161.png',  // Path to your icon image
            iconSize: [32, 32],  // Size of the icon in pixels
            iconAnchor: [16, 32],  // Point of the icon that corresponds to the marker's location
            popupAnchor: [0, -32]  // Point from which the popup should open relative to the icon
        });

        // Add a marker with the custom icon at a specific coordinate
        var marker = L.marker([17.6805, 74.0183], {
            icon: customIcon
        }).addTo(map);

        // // Replace 'City Name' in the HTML content with the actual city name from your data
        // marker.getElement().querySelector('text').textContent = 'Satara';


        // Red Dot
        // var marker = L.marker([17.6805, 74.0183], {
        // icon: L.divIcon({
        //     className: 'custom-marker',  // You can define custom CSS styles for the marker
        //     html: '<div style="background-color: red; width: 16px; height: 16px; border-radius: 50%;"></div>'
        // })
        // }).addTo(map);


        // var map = L.map('map').setView([20.5937, 78.9629], 5);  // Set initial map coordinates and zoom level
        // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);  // Add OpenStreetMap layer
        
        // var locations = {{ locations|safe }};
        
        // Add markers for each location
        // locations.forEach(function(location) {
        //     L.marker([location.latitude, location.longitude]).addTo(map)
        //         .bindPopup(location.name);
        // });
    </script>
</body>
</html>