<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Soulmates</title>
    
    <!-- Add Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    
    <!-- Define custom CSS for styling the heart icon -->
    <style>
        .heart-icon {
            text-align: center;
            line-height: 1;
        }
    </style>
</head>
<body>
    <!-- Create a div to hold the map -->
    <div id="map" style="height: 1000px;"></div>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>
    <script>
        var map = L.map('map').setView([20.5937, 78.9629], 5);   // India
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var customIcon = L.icon({
            iconUrl: 'https://png.pngtree.com/png-vector/20230413/ourmid/pngtree-3d-location-icon-clipart-in-transparent-background-vector-png-image_6704161.png',  // Path to your icon image
            iconSize: [32, 32],  // Size of the icon in pixels
            iconAnchor: [16, 32],  // Point of the icon that corresponds to the marker's location
            popupAnchor: [0, -32]  // Point from which the popup should open relative to the icon
        });

        // Satara
        var marker1 = L.marker([17.681727, 74.00836], {
            icon: customIcon
        }).addTo(map);

        // Vadodara
        var marker2 = L.marker([22.313792, 73.126182], {
            icon: customIcon
        }).addTo(map);

        // Coordinates of the two markers
        var latlngs = [marker1.getLatLng(), marker2.getLatLng()];

        // Create a polyline connecting the two markers
        var polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);

        // Calculate the midpoint between the markers
        var midpoint = L.latLng((latlngs[0].lat + latlngs[1].lat) / 2, (latlngs[0].lng + latlngs[1].lng) / 2);

        // Define a custom DivIcon with a heart emoji
        var heartIcon = L.divIcon({
            className: 'heart-icon',
            html: '<div>❤️</div>',
            iconSize: [52, 52]
        });

        // Add a marker with the heart icon at the midpoint
        var heartMarker = L.marker(midpoint, { icon: heartIcon }).addTo(map);
    </script>
</body>
</html>
